<div id="<%= dom_id dynamic_value %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Dynamic form:</strong>
    <%= dynamic_value.dynamic_form_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Field value:</strong>
    <%= dynamic_value.field_value %>
  </div>
</div>
