<div id="<%= dom_id dynamic_form %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= dynamic_form.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= dynamic_form.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Fields:</strong>
    <%= dynamic_form.fields %>
  </div>
</div>
